body {
  background-color: hsl(0, 0%, 98%);
  font-family: "Poppins", sans-serif;
  border: red solid;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5%;

}

h1 {
  color: hsl(229, 6%, 66%);
  font-weight: 200;
  font-size: 1.6rem;
  margin-bottom: 0;
  
}

h2 {
  color: hsl(234, 12%, 34%);
  font-weight: 600;
  font-size: 1.6rem;
  margin-top: 0;
}

p {
  color: hsl(229, 6%, 66%);
  font-weight: 200;
  font-size: 1rem;
  line-height: 1.5rem;
  margin-top: 0;
  
}

h3 {
  color: hsl(234, 12%, 34%);
  font-weight: 600;
  font-size: 1rem;
  margin-top: 0;
}

.cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3%;
  gap: 1rem;
}

.supervisor,
.team_builder,
.karma,
.calculator {
  position: relative;
  width: 100%;
  padding: 2%;
  border-radius: 0.2rem;
}

.supervisor {
  box-shadow: 0px -0.1rem 0rem hsl(180, 62%, 55%),
    5px 5px 15px rgba(0, 0, 0, 0.1);
}

.team_builder {
  box-shadow: 0px -0.1rem 0rem hsl(0, 78%, 62%), 5px 5px 15px rgba(0, 0, 0, 0.1);
}

.karma {
  box-shadow: 0px -0.1rem 0rem hsl(34, 97%, 64%),
    5px 5px 15px rgba(0, 0, 0, 0.1);
}

.calculator {
  box-shadow: 0px -0.1rem 0rem hsl(212, 86%, 64%),
    5px 5px 15px rgba(0, 0, 0, 0.1);
}

.content {
  font-size: 0.75rem;
}

img {
  width: 1rem;
  position: absolute;
  bottom: 10px;
  right: 10px;
}
